.ant-btn-primary {
  background-color: #ffc72b;
  // border-color: #2f9f97;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: #ffffff ;
  &:hover {
    background-color: #d0b363f1 !important;
    border-color: #8d7538 !important;
    // color: black !important;
  }
  span{
    color: #333232 !important;
    font-weight: 300;
  }
}
.ant-select-selector{
  background-color: #4d6ea4 !important;
  border:1px solid  #ead39b !important;


}
.ant-input {
  border:1px solid  #ead39b;
  background-color: #4d6ea4;
  width: 100% !important;
  height: 100% !important;

  color: rgb(245, 230, 230);
  &:hover {
    // background-color: #89703074 !important;
    border-color: #8d7538 !important;
  }
  &:active {
    // background-color: #89703074 !important;
    border-color: #8d7538 !important;
  }
  &:focus {
    // background-color: #89703074 !important;
    border-color: #8d7538 !important;
  }
}

.ant-input::placeholder {
  color: #818080;
  // border:1px solid  #ead39b !important;

}

.ant-input {
  // border:1px solid  #ead39b !important;

  border-color: #89703074;
}
.ant-input-search-button{
  span{
    color: #333232 !important;
    // letter-spacing: 0.1rem !important;
    font-weight: 300;
  }
}
.ant-input-affix-wrapper{
background-color: transparent !important;
border:1.5px solid #3e5d87 !important ;

}
.ant-select-item-option-content{
  color: white !important;
 
}
.ant-select-selection-search-input{
  color: #fff !important; ;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-input-affix-wrapper >input.ant-input {
  background: transparent ;
}

.ant-input-number-input{
  color: #fff !important;
}
.ant-radio-wrapper{
  span{
    color: #ffffff !important;
  }

}
.ant-input-number-group-addon{
  color: #ffffff !important;
}

