@import url(//fonts.googleapis.com/css?family=Monoton);
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Noto+Sans+Mono:wght@200&family=PT+Sans&family=Roboto+Mono:wght@100;200&family=Roboto:ital,wght@0,100;1,100&family=Teko&family=Tilt+Neon&display=swap");

.stickyButton:hover {
  scale: 1.1;

  cursor: pointer;
}
// .ant-drawer-body {
//   overflow-y: scroll !important;
//   overflow-x: hidden !important;
// }
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: space-between;
  // gap: 20px;
  width: 100%;

  font-family: "Tilt Neon";
  font-size: 15px;

  .logo {
    text-align: center;
    width: 100%;
    height: 50px;
    user-select: none;
    font: 400 4vh "Monoton";
    cursor: pointer;
  }
}

.container-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  // overflow-y:hidden;

  div {
  margin-top: 0rem;

    display: flex;
    align-items: center;
    // padding-left: 5px;
    width: 100%;
    height: 12%;
    padding: 0.5rem;
    transition: all 0.8s;
    border-radius: 1rem;
    font-size: 21px;
    cursor: pointer;
    color: #dcdcdc;
    // margin-right:0.8rem ;

    // margin-left: 0.8rem;
  }

  div.home:hover {
    background-color: #039fc6 !important;
    color: #2d2c2c !important;
  }
  div.create:hover {
    background-color: #039fc6 !important;
    color: #333232 !important;
  }
  div.logout:hover {
    background-color: #039fc6 !important;
    color: #333232 !important;
  }
  div.profile:hover {
    background-color: #039fc6 !important;
    color: #333232 !important;
  }
  div:hover .iconHome {
    scale: 1.2;
  }

  div:hover .iconProfile {
    scale: 1.2;
  }

  div:hover .iconCreate {
    scale: 1.2;
  }

  div:hover .iconlogout {
    scale: 1.2;
  }

  .iconHome,
  .iconProfile,
  .iconCreate,
  .iconlogout {
    cursor: pointer;

    transition: all 0.5s;
    color: #2c3c38;
  }
}

.home,
.profile,
.create,
.logout {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-top: 25px;
  color: #5a5a5acc;
}
.ant-drawer-content{
  overflow-x:hidden !important;
}
.navbar,
.container-nav {
  max-height: 100vh;
  overflow-x: scroll;
  cursor: pointer !important;

  & > * {
    cursor: pointer !important;
  }
}
:where(.css-dev-only-do-not-override-htwhyh).ant-drawer .ant-drawer-body {
  padding: 14px !important;
  overflow-y: scroll !important;
}
.navbar-background {
  width: 100%;
  height: 100%;
  background-image: url("../../../src/assets/LOGOCODIGOPNG.png");
  background-repeat: no-repeat;
  background-position: right top; // Puedes ajustar esto a donde quieras que aparezca la imagen.
  // background-size: 100;  // Ajusta esto al tamaño que necesites.
  opacity: 0.5; // Ajusta esto al nivel de transparencia que necesites.
}
.custom-icon svg {
  fill: #333232 ;
}
.ant-btn span{

    color: #f5f5f5 !important;
  
svg{

  color: #c4dcff !important;
}
}
.anticon{
  svg{

    color: #dbe7f9 !important;
  }
}
.ant-drawer-title{
  div{

    p{
      color: #c4dcff !important;
    }
  }
}
.ant-form-item-required{

  color: #dcdcdc !important;
}
.ant-form-item-label >label {
  color: #dcdcdc !important;
}
.ant-checkbox-checked{

  background: #2bd7bd !important;
  border-radius: 1rem  !important;
  
}
// .ant-checkbox ::after{
//   background: transparent !important;
// }
.ant-checkbox-inner{
  background-color: #2bd7bd !important;
  border-color: transparent !important;
  span{
    color: #dbe7f9 !important;
  }
}
.ant-checkbox-wrapper{
  span{
    color: #dbe7f9 !important;
    text-transform:uppercase !important;
    // font-size: 1rem !important;
  }
}
.option-gender{
  color: #f4f8f7 !important;
}
.ant-btn-default{
  background: #676a69 !important;
}
.ant-col-1{
flex: 0 0 6% !important;
max-width: 6% !important;
}